
<div class = "ui five cards">
  <div class = "card">
    <span class="content centre">
    <h2> ${_station.name}<i class= "large location arrow icon"style="color:	#7FFF00"></i></h2>
    <br>Lat: ${_station.latitude}
    <br> Lng: ${_station.longitude}
    </span>
  </div>
  <div class = "card">
    <span class="content centre">
    <h2>Weather <i class= "large ${_station.weatherIcon}"style="color:#FF69B4"></i></h2>
    <br>${_station.weatherReport}
    </span>
  </div>
  <div class = "card">
    <span class="content centre">
      <h2>Temp <i class= "large temperature low icon" style="color:#87ceeb"></i></h2>
      <br>${_station.latestTemperature()} C<br>
      <br>${_station.celciusToF()} F
    </span>
  </div>
  <div class = "card">
    <span class="content centre">
      <h2>Wind <i  class=" large wind icon" style="color:#0000ff"></i></h2>
      <br>${_station.calcBeaufort()} bft<br>
      <br>${_station.windDirectionText()}<br>
      <br>Feels like ${_station.windChill()}
    </span>
  </div>
  <div class = "card">
    <span class="content centre">
      <h2>Pressure <i  class="large compass arrows icon" style="color:#a55a55"></i></h2>
      <br>${_station.latestPressure()} hpa</span>
  </div>
</div>
