
<div class = "ui five cards">
  <div class = "card"><span class="content centre"><h1> ${_station.name}</h1><br>Lat: ${_station.latitude}<br> Lng: ${_station.longitude}</span></div>
  <div class = "card"><span class="content centre"><h3>Weather</h3><br>${_station.weatherReport}</span></div>
  <div class = "card"><span class="content centre"><h3>Temp</h3><br>${_station.latestTemperature()} C<br>
      <br>${_station.celciusToF()} F</span></div>
  <div class = "card"><span class="content centre"><h3>Wind</h3><br>${_station.calcBeaufort()} bft<br>
    <br>${_station.windDirectionText()}<br><br>Feels like ${_station.windChill()}</span></div>
  <div class = "card"><span class="content centre"><h3>Pressure</h3><br>${_station.latestPressure()}</span></div>
</div>
